# requirements.txt
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch and torchvision removed → not needed anymore
# sentence-transformers removed
# langchain-huggingface removed

numpy<2.0.0
pydantic>=2.0,<2.10

# Core API
fastapi
uvicorn
aiogram
python-dotenv
redis>=5.2.0
aioredis

# RAG Stack (only Google now)
langchain
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai
rank-bm25

# Helpers
beautifulsoup4
requests
tqdm
rich